body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fitnessTitle {
  color:white;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  background-color: green;
  vertical-align: middle;
}
.headerLinks {
  display: grid;
  justify-items: right;
  grid-template-columns: 12vw 12vw 12vw 12vw 15vw;
  background-color: green;
  align-items: center;
}

a {
  text-align: center;
  vertical-align: middle;
  color: white;
}
.loginButton {
  background-color: black;
  padding: 3px;
  margin-left: 3px;
}
span {
  display: flex;
flex-direction: row;} 